In [6]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
import pandas as pd
import yfinance as yf

# Fetch historical Bitcoin prices
btc_data = yf.download('BTC-USD', start="2020-01-01", end="2025-01-01")

print(btc_data.head())

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open       Volume
Ticker          BTC-USD      BTC-USD      BTC-USD      BTC-USD      BTC-USD
Date
2020-01-01  7200.174316  7254.330566  7174.944336  7194.892090  18565664997
2020-01-02  6985.470215  7212.155273  6935.270020  7202.551270  20802083465
2020-01-03  7344.884277  7413.715332  6914.996094  6984.428711  28111481032
2020-01-04  7410.656738  7427.385742  7309.514160  7345.375488  18444271275
2020-01-05  7411.317383  7544.497070  7400.535645  7410.451660  19725074095

In [2]:
btc_data

Price,Close,High,Low,Open,Volume
Ticker,BTC-USD,BTC-USD,BTC-USD,BTC-USD,BTC-USD
Date,,,,,
2020-01-01,7200.174316,7254.330566,7174.944336,7194.892090,18565664997
2020-01-02,6985.470215,7212.155273,6935.270020,7202.551270,20802083465
2020-01-03,7344.884277,7413.715332,6914.996094,6984.428711,28111481032
2020-01-04,7410.656738,7427.385742,7309.514160,7345.375488,18444271275
2020-01-05,7411.317383,7544.497070,7400.535645,7410.451660,19725074095
...,...,...,...,...,...
2024-12-27,94164.859375,97294.843750,93310.742188,95704.976562,52419934565
2024-12-28,95163.929688,95525.898438,94014.289062,94160.187500,24107436185
2024-12-29,93530.226562,95174.875000,92881.789062,95174.054688,29635885267
2024-12-30,92643.210938,94903.320312,91317.132812,93527.195312,56188003691
2024-12-31,93429.203125,96090.601562,91914.031250,92643.250000,43625106843

In [4]:
btc_data.columns

MultiIndex([( 'Close', 'BTC-USD'),
            (  'High', 'BTC-USD'),
            (   'Low', 'BTC-USD'),
            (  'Open', 'BTC-USD'),
            ('Volume', 'BTC-USD')],
           names=['Price', 'Ticker'])

In [ ]:
btc_data.columns = btc_data.columns.droplevel(1)
print(btc_data.head())

IndexError: Too many levels: Index has only 1 level, not 2

In [8]:
btc_data.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2024-12-22', '2024-12-23', '2024-12-24', '2024-12-25',
               '2024-12-26', '2024-12-27', '2024-12-28', '2024-12-29',
               '2024-12-30', '2024-12-31'],
              dtype='datetime64[ns]', name='Date', length=1827, freq=None)

In [9]:
btc_data.columns

Index(['Close', 'High', 'Low', 'Open', 'Volume'], dtype='object', name='Price')

In [10]:
btc_data = btc_data.reset_index()
btc_data.head()
btc_data.columns
btc_data = btc_data.rename(columns={'Date': 'date'})
btc_data.head()

Price,Date,Close,High,Low,Open,Volume
0,2020-01-01,7200.174316,7254.330566,7174.944336,7194.892090,18565664997
1,2020-01-02,6985.470215,7212.155273,6935.270020,7202.551270,20802083465
2,2020-01-03,7344.884277,7413.715332,6914.996094,6984.428711,28111481032
3,2020-01-04,7410.656738,7427.385742,7309.514160,7345.375488,18444271275
4,2020-01-05,7411.317383,7544.497070,7400.535645,7410.451660,19725074095

Index(['Date', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object', name='Price')

Price,date,Close,High,Low,Open,Volume
0,2020-01-01,7200.174316,7254.330566,7174.944336,7194.892090,18565664997
1,2020-01-02,6985.470215,7212.155273,6935.270020,7202.551270,20802083465
2,2020-01-03,7344.884277,7413.715332,6914.996094,6984.428711,28111481032
3,2020-01-04,7410.656738,7427.385742,7309.514160,7345.375488,18444271275
4,2020-01-05,7411.317383,7544.497070,7400.535645,7410.451660,19725074095

In [12]:
btc_data.columns.name = None
print(btc_data.head())

        date        Close         High          Low         Open       Volume
0 2020-01-01  7200.174316  7254.330566  7174.944336  7194.892090  18565664997
1 2020-01-02  6985.470215  7212.155273  6935.270020  7202.551270  20802083465
2 2020-01-03  7344.884277  7413.715332  6914.996094  6984.428711  28111481032
3 2020-01-04  7410.656738  7427.385742  7309.514160  7345.375488  18444271275
4 2020-01-05  7411.317383  7544.497070  7400.535645  7410.451660  19725074095

In [13]:
btc_data_sorted = btc_data.sort_values(by='date', ascending=False)
print(btc_data_sorted.head())

           date         Close          High           Low          Open  \
1826 2024-12-31  93429.203125  96090.601562  91914.031250  92643.250000
1825 2024-12-30  92643.210938  94903.320312  91317.132812  93527.195312
1824 2024-12-29  93530.226562  95174.875000  92881.789062  95174.054688
1823 2024-12-28  95163.929688  95525.898438  94014.289062  94160.187500
1822 2024-12-27  94164.859375  97294.843750  93310.742188  95704.976562

           Volume
1826  43625106843
1825  56188003691
1824  29635885267
1823  24107436185
1822  52419934565

In [15]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("kaushiksuresh147/bitcoin-tweets")

print("Path to dataset files:", path)

/opt/anaconda3/envs/bit_pred_env/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/kaushiksuresh147/bitcoin-tweets?dataset_version_number=54...

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 695M/695M [00:15<00:00, 47.4MB/s]

Extracting files...

Path to dataset files: /Users/vamsisaigarapati/.cache/kagglehub/datasets/kaushiksuresh147/bitcoin-tweets/versions/54

In [16]:
import os

# List files in the downloaded dataset directory
files = os.listdir(path)
print("Files in dataset directory:", files)

# Assuming the dataset contains a CSV file, read it into a DataFrame
csv_file = [file for file in files if file.endswith('.csv')][0]
dataset_path = os.path.join(path, csv_file)
bitcoin_tweets = pd.read_csv(dataset_path)

# Display the first few rows of the dataset
print(bitcoin_tweets.head())

Files in dataset directory: ['Bitcoin_tweets.csv', 'Bitcoin_tweets_dataset_2.csv']

/var/folders/x5/7fmrypvd2mj6rc45kq6kv2lh0000gn/T/ipykernel_31605/1332990005.py:10: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  bitcoin_tweets = pd.read_csv(dataset_path)

                                  user_name    user_location  \
0                             DeSota Wilson      Atlanta, GA
1                                  CryptoND              NaN
2                                 Tdlmatias  London, England
3                      Crypto is the future              NaN
4  Alex Kirchmaier ðŸ‡¦ðŸ‡¹ðŸ‡¸ðŸ‡ª #FactsSuperspreader           Europa

                                    user_description         user_created  \
0  Biz Consultant, real estate, fintech, startups...  2009-04-26 20:05:09
1  ðŸ˜Ž BITCOINLIVE is a Dutch platform aimed at inf...  2019-10-17 20:12:10
2  IM Academy : The best #forex, #SelfEducation, ...  2014-11-10 10:50:37
3  I will post a lot of buying signals for BTC tr...  2019-09-28 16:48:12
4  Co-founder @RENJERJerky | Forbes 30Under30 | I...  2016-02-03 13:15:55

  user_followers user_friends user_favourites user_verified  \
0         8534.0         7605            4838         False
1         6769.0         1532           25483         False
2          128.0          332             924         False
3          625.0          129              14         False
4         1249.0         1472           10482         False

                  date                                               text  \
0  2021-02-10 23:59:04  Blue Ridge Bank shares halted by NYSE after #b...
1  2021-02-10 23:58:48  ðŸ˜Ž Today, that's this #Thursday, we will do a "...
2  2021-02-10 23:54:48  Guys evening, I have read this article about B...
3  2021-02-10 23:54:33  $BTC A big chance in a billion! Price: \487264...
4  2021-02-10 23:54:06  This network is secured by 9 508 nodes as of t...

                                    hashtags               source is_retweet
0                                ['bitcoin']      Twitter Web App      False
1  ['Thursday', 'Btc', 'wallet', 'security']  Twitter for Android      False
2                                        NaN      Twitter Web App      False
3         ['Bitcoin', 'FX', 'BTC', 'crypto']              dlvr.it      False
4                                    ['BTC']      Twitter Web App      False

In [17]:
bitcoin_tweets.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,DeSota Wilson,"Atlanta, GA","Biz Consultant, real estate, fintech, startups...",2009-04-26 20:05:09,8534.0,7605,4838,False,2021-02-10 23:59:04,Blue Ridge Bank shares halted by NYSE after #b...,['bitcoin'],Twitter Web App,False
1,CryptoND,NaN,ðŸ˜Ž BITCOINLIVE is a Dutch platform aimed at inf...,2019-10-17 20:12:10,6769.0,1532,25483,False,2021-02-10 23:58:48,"ðŸ˜Ž Today, that's this #Thursday, we will do a ""...","['Thursday', 'Btc', 'wallet', 'security']",Twitter for Android,False
2,Tdlmatias,"London, England","IM Academy : The best #forex, #SelfEducation, ...",2014-11-10 10:50:37,128.0,332,924,False,2021-02-10 23:54:48,"Guys evening, I have read this article about B...",NaN,Twitter Web App,False
3,Crypto is the future,NaN,I will post a lot of buying signals for BTC tr...,2019-09-28 16:48:12,625.0,129,14,False,2021-02-10 23:54:33,$BTC A big chance in a billion! Price: \487264...,"['Bitcoin', 'FX', 'BTC', 'crypto']",dlvr.it,False
4,Alex Kirchmaier ðŸ‡¦ðŸ‡¹ðŸ‡¸ðŸ‡ª #FactsSuperspreader,Europa,Co-founder @RENJERJerky | Forbes 30Under30 | I...,2016-02-03 13:15:55,1249.0,1472,10482,False,2021-02-10 23:54:06,This network is secured by 9 508 nodes as of t...,['BTC'],Twitter Web App,False

In [18]:
bitcoin_tweets.count()

user_name           95762357
user_location       10467705
user_description    12284538
user_created        12804527
user_followers      12803830
user_friends        12803830
user_favourites     12803830
user_verified       12803830
date                 4689354
text                 4689354
hashtags             4671141
source               4684574
is_retweet           4687839
dtype: int64

In [19]:
num_records = len(bitcoin_tweets)
print(f"Number of records in bitcoin_tweets: {num_records}")

Number of records in bitcoin_tweets: 95762468

In [21]:
bitcoin_tweets['date'] = pd.to_datetime(bitcoin_tweets['date'])
bitcoin_tweets.head()

ValueError: time data "['ETH', 'BTC', 'Bitcoin']" doesn't match format "%Y-%m-%d %H:%M:%S", at position 64943. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [22]:
unique_dates = bitcoin_tweets['date'].unique()
print(unique_dates)

['2021-02-10 23:59:04' '2021-02-10 23:58:48' '2021-02-10 23:54:48' ...
 '2023-01-06 17:46:22' '2023-01-06 17:46:20' '2023-01-06 17:46:17']

In [ ]:
# Convert the 'date' column to datetime format
bitcoin_tweets['date'] = pd.to_datetime(bitcoin_tweets['date'], errors='coerce')

# Filter out records with invalid date format
initial_count = len(bitcoin_tweets)
bitcoin_tweets_filtered = bitcoin_tweets.dropna(subset=['date'])
final_count = len(bitcoin_tweets_filtered)

# Calculate the number of records dropped
records_dropped = initial_count - final_count
print(f"Number of records dropped: {records_dropped}")
95762468

Number of records dropped: 91073180

In [20]:
max_date = bitcoin_tweets['date'].max()
min_date = bitcoin_tweets['date'].min()

print(f"Maximum date: {max_date}")
print(f"Minimum date: {min_date}")

TypeError: '>=' not supported between instances of 'str' and 'float'